<!DOCTYPE html>
<html lang="en">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>게시글 상세 조회</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--    <link rel="stylesheet" th:href="@{/css/detail.css}">-->
    <link rel="stylesheet" href="../static/css/detail.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="../static/js/detail.js" ></script>
    <!--    <script type="text/javascript" th:src="@{/js/detail.js}"></script>-->
    <script th:inline="javascript">
        $(document).ready(function () {
            getContentsDetail();
            getComments();
        })

        // 게시글을 불러옵니다.
        function getContentsDetail() {
            $('#contents-wrap').empty();
            let idx = location.href.split("id=")[1];
            $.ajax({
                type: 'GET',
                url: `/api/postings/${idx}`,
                data: {},
                success: function (response) {
                    let detailcontent = response;
                    let id = detailcontent.id;
                    let username = detailcontent.username;
                    let title = detailcontent.title;
                    let contents = detailcontent.contents;
                    let modifiedAt = detailcontent.modifiedAt;
                    detailHTML(id, title, username, modifiedAt, contents);

                }
            });
        }
        // 불러온 게시글을 html에 붙여줍니다.
        function detailHTML(id, title, username, modifiedAt, contents) {
            // HTML 태그 만들기
            let temphtml1 = `<div id="contents-wrap">
                        <div class="contents-box">
                            <h2 class="page-name">세부 내용 조회</h2>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">제목</span>
                                <input id="${id}-title" type="text" class="form-control" placeholder="${title}" aria-label="Username"
                                       aria-describedby="basic-addon1" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">작성자 명</span>
                                <input id="${id}-username" type="text" class="form-control" placeholder="${username}" aria-label="Username"
                                       aria-describedby="basic-addon1" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">작성 날짜</span>
                                <input id="${id}-date" type="text" class="form-control" placeholder="${modifiedAt}" aria-label="Username"
                                       aria-describedby="basic-addon1" disabled>
                            </div>
                            <div class="input-group" style="height: 250px;">
                                <span class="input-group-text">작성 내용</span>
                                <textarea id="${id}-contents" class="form-control" aria-label="With textarea" placeholder="${contents}" disabled></textarea>
                            </div>
                        </div>
                        <div class="d-gr${id} gap-2 d-md-flex justify-content-md-end end-button">
                            <button class="btn btn-primary me-md-2" type="button" onclick="gotoHome()">홈으로</button>
                            <a class="btn btn-primary" onclick="window.location.href='/postupdate.html?id=${id}'" type="button">수정하기</a>
                            <button class="btn btn-primary me-md-2" type="button" onclick="deleteOne()">삭제하기</button>
                        </div>
                      </div>`;
            // contents-list에 html 붙이기
            $('#contents-wrap').append(temphtml1);
        }

        // 버튼 클릭 시 페이지 전환
        function gotoHome() {
            window.location.href="/";
        }

        // 게시물 삭제하기
        function deleteOne() {
            if (confirm("정말 삭제하시겠습니까??") == false) {
                return}
            let idx = location.href.split("id=")[1];
            $.ajax({
                type: "DELETE",
                url: `/api/postings/${idx}`,
                success: function (response) {
                    alert('게시글이 삭제되었습니다.');
                    window.location.href="/";
                }
            })
        }

        // // // <!-------댓글--------->
        // // // 댓글 불러오기
        function getComments() {
            let postId = location.href.split("id=")[1];
            $.ajax({
                type: "GET",
                url: `/api/comments/${postId}`,
                data: {},
                success: function(response) {
                    for (let i=0; i<response.length; i++) {
                        let post = response[i];
                        let id = post.id;
                        let username = post.username;
                        let comment = post.comment;
                        let modifiedAt = post.modifiedAt;
                        addCommentHTML(id, username, comment, modifiedAt);
                    }
                }
            });
        }
        // // // 댓글 html에 붙여주기
        function addCommentHTML(id, username, comment, modifiedAt) {
            let tempHtml = makecomment(id, username, comment, modifiedAt);
            $('#comment-box').append(tempHtml);
        }
        //
        // // // 댓글 형태 만들기
        function makecomment(id, username, comment, modifiedAt) {
            let loginUsername = [[${username}]];
            console.log(loginUsername)
            let hide = "hide"
            if (loginUsername === username) {
                hide = ""
            }
            return `<div class="card w-75">
                <div class="card-body">
                    <h6 id="${id}-name" class="card-title comment-name">${username}</h6>
                    <p id="${id}-date" class="card-title comment-date">${modifiedAt}</p>
                    <p id="${id}-comment" class="card-text comment-contents">${comment}</p>
                </div>
                <div id="${id}-editarea" class="edit">
                     <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                 </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end ${hide}" >
                  <button id="${id}-editsubmit" onclick="submitEdit('${id}')" class="btn btn-primary submit" type="button">등록하기</button>
                  <button id="${id}-editcomment" onclick="editcomment('${id}')" class="btn btn-primary me-md-2 editbtn" type="button">수정하기</button>
                  <button id="${id}-deletecomment" onclick="deletecomment('${id}')" class="btn btn-primary deletebtn" type="button">삭제하기</button>
                </div>
            </div>`;
        }
        //
        // // 댓글 수정하기 버튼 눌렀을 때, 기존 작성 내용을 수정박스(textarea)에 전달합니다.
        function editcomment(id) {
            showEdits(id);
            let contents = $(`#${id}-comment`).text().trim();
            $(`#${id}-textarea`).val(contents);
        }

        // // 버튼 숨기고 나타내기
        function showEdits(id) {
            $(`#${id}-deletecomment`).show();
            $(`#${id}-editsubmit`).show();
            $(`#${id}-editarea`).show();


            $(`#${id}-comment`).hide();
            $(`#${id}-editcomment`).hide();
        }

        // // 수정된 댓글에 put 보내 update하기
        function submitEdit(id) {
            let comment = $(`#${id}-textarea`).val().trim();
            if (isValidComments(comment) === false){
                return;
            }
            let data = {"comment" : comment};
            $.ajax({
                type: "PUT",
                url: `/api/comment/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });
        }

        // // 댓글 입력 여부 확인
        function isValidComments(comments) {
            if(comments === '') {
                alert('댓글 내용을 입력해주세요.');
                return false;
            }
            return true;
        }

        // // // 댓글 작성하기  &  post 요청
        function writeComment() {
            let postid = location.href.split("id=")[1];
            var username = [[${username}]];
            let comment = $('#comment').val();
            if (isValidComments(comment) === false) {
                return;
            }

            let data = {'postId': postid, 'username': username, 'comment': comment};
            $.ajax({
                type: "POST",
                url: "/api/comments",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response === true) {
                        alert('메시지가 성공적으로 작성되었습니다.');
                        window.location.reload();
                    }
                    else {
                        alert('로그인을 해주세요');
                        window.location.href="/user/login";
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('에러입니다.');
                    window.location.href="/user/login";
                }
            });
        }
        // // 댓글의 id 값을 받아 해당 댓글을 삭제합니다.
        function deletecomment(id) {
            if (confirm('정말 삭제하시겠습니까?') === false) {
                return
            }
            $.ajax({
                type: "DELETE",
                url: `/api/comment/${id}`,
                success: function(response) {
                    alert('댓글 삭제에 성공하였습니다');
                    window.location.reload();
                }
            })
        }
    </script>

</head>

<body>
<div class="background-header">

</div>
<div class="background-body">

</div>
<div class="wrap">
    <div class="writing-header">
        <div class="inside-header">
            <h2 onclick="window.location.href='/'" >Detail page</h2>
        </div>
        <p>
            선택하신 글의 상세 내용을 조회할 수 있습니다.
        </p>
    </div>

    <!--게시글 상세 조회시 받아야 할 정보-->
    <!--제목, 작성자명, 작성 날짜, 작성 내용-->
    <div id="contents-wrap">
        <div class="contents-box">
            <h2 class="page-name" onclick="window.location.href='/'"> 세부 내용 조회</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" >제목</span>
                <input id="1-title" type="text" class="form-control" placeholder="제목을 입력해주세요." aria-label="Username"
                       aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >작성자 명</span>
                <input id="2-username" type="text" class="form-control" placeholder="이름을 입력해주세요." aria-label="Username"
                       aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">작성 날짜</span>
                <input id="1-date" type="text" class="form-control" placeholder="작성 날짜" aria-label="Username"
                       aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group" style="height: 250px;">
                <span class="input-group-text">작성 내용</span>
                <textarea id="1-contents" class="form-control" placeholder="내용이 들어갑니다." aria-label="With textarea"
                          disabled></textarea>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end end-button">
            <button class="btn btn-primary me-md-2" type="button" onclick="gotoHome()">홈으로</button>
            <a class="btn btn-primary" onclick="window.location.href='/postupdate.html?id=${id}'" type="button">수정하기</a>
            <button class="btn btn-primary me-md-2" type="button" onclick="deleteOne()">삭제하기</button>
        </div>
    </div>


    <div class="comment-wrap">
        <div id="comment-write-area">
            <div class="form-floating">
                <textarea name="comment" class="form-control" placeholder="댓글을 입력해주세요" id="comment" style="height: 100px"></textarea>
                <label for="comment">댓글을 입력해주세요.</label>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button" onclick="writeComment()" >등록</button>
                </div>
            </div>
        </div>

        <div id="comment-box">

        </div>
    </div>

</div>
</body>

</html>