<!DOCTYPE html>
<html lang="en">

<head>
    <title>velog</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 카톡 og태그-->
    <meta property="og:title" content="Heeyoun's voyage blog">
    <meta property="og:description" content="항해99를 수료중입니다. java기반의 spring boot를 배우고 있는 예비 백엔드 개발자가 되고자 합니다.">
    <meta property="og:image" content="images/ogimage.png">

    <link rel="stylesheet" href="css/index.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!--    Bootstrap JS-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"-->
    <!--            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"-->
    <!--            crossorigin="anonymous"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
<div class="background-header">

</div>
<div class="background-body">

</div>

<div class="wrap">
    <div class="header" style="position:relative;">
        <div id="header-title-login-user">
            <span th:text="${username}"></span> 님
        </div>
        <div id="header-title-select-shop">
            이랏샤이마세
        </div>

        <form id="my_form" method="post" action="/user/logout">
            <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
        </form>
    </div>
    <div class="contents-wrap">
        <div class="contents-box">
            <h2>전체 게시글 목록</h2>
            <a class="btn btn-primary" onclick="window.location.href='/writingpage.html'" role="button">글쓰기</a>
        </div>

        <!--        append 되는 div-->
        <div class="list-group" id="contents-list">
            <!--            <ul class="list-group list-group-horizontal">-->
            <!--                <li class="list-group-item" style="width: 80px">${id}</li>-->
            <!--                <li class="list-group-item" >${username}</li>-->
            <!--                <button type="button" class="list-group-item list-group-item-action">${title}</button>-->
            <!--                <a href="#" class="list-group-item list-group-item-action">제목</a>
                                <li class="list-group-item">${modifiedAt}</li>-->
            <!--            </ul>-->
        </div>

    </div>
</div>


</body>

</html>

<!--            버튼으로 만들기-->
<!--            <form class="posting-btn">-->
<!--                <input type="button" value="글쓰기" onclick="">-->
<!--            </form>-->

<!--            글자로 만들기-->
<!--            <ul class="posting-box">-->
<!--                <li style="width: auto; user-select: auto;">-->
<!--                    <a href="/" style="user-select: auto;">글쓰기</a>-->
<!--                </li>-->
<!--            </ul>-->

<!--        <div class="area-write">-->
<!--            <textarea class="field" placeholder="공유하고 싶은 소식을 입력해주세요" name="contents" id="contents" cols="30"-->
<!--                      rows="10"></textarea>-->
<!--            &lt;!&ndash;            <button class="btn btn-danger" onclick="writePost()">작성하기</button>&ndash;&gt;-->
<!--            <img src="images/send.png" alt="" onclick="writePost()">-->
<!--        </div>-->